<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="dropdown">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="routesDropdown" ngbDropdownToggle>Routes</button>
      <div ngbDropdownMenu aria-labelledby="routesDropdown">
        <a *ngFor="let route of routes" ngbDropdownItem href="{{route}}">{{getRouteName(route)}}</a>
      </div>
    </div>
  </div>
  <a class="btn btn-primary" href="https://console.firebase.google.com/project/ffgolf/database" target="_blank">View Database</a>
</nav>
<div class="py-5"></div>
