<div class="mb-4">
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Create New Draft</button>
</div>
<ul *ngIf="drafts" class="list-group">
  <li class="list-group-item" *ngFor="let draft of drafts">
    <div class="d-flex justify-content-between align-items-center w-100">
      <h4>{{draft.payload.doc.data().name}}</h4>
      <a class="btn btn-primary" [routerLink]="['/draft', draft.payload.doc.id]">View Draft</a>
    </div>
  </li>
</ul>
<ng-template #content let-modal>
  <div class="modal-body">
    <ul *ngIf="upcomming" class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let tournament of upcomming">
        <div class="row">
          <div class="col-10">
            <h6>{{tournament.trnName.official}}</h6>
          </div>
          <div class="col-2 text-right">
            <button class="btn btn-primary btn-sm" (click)="createNewDraft(tournament)">Draft</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ng-template>
